@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        @Html.ActionLink("Clicck me", "Index", new { area = "Admin" })
        @Html.ActionLink("Clicck me", "Index", new { area = "" })
    </div>
</body>
</html>
